

build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
*.cover
.pytest_cache/
docs/_build/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
__pycache__/
*.py[cod]
*$py.class
.vs/
/vpos/__pycache__
/vpos/test/__pycache__
.idea/